#login  ,#log_on {
   background-image:url(../img/backimg.png) ;
   background-repeat:no-repeat;
   background-size: 100% 100%;   
   -moz-background-size:100% 100%;
   background-size:100% 100%;
}
#mainpic {
    margin-top:140px;
    
	 
   

}
 
.logiconpng{
   margin-left:20px;
   margin-top:100px;

}
.logiconpng img {
    width:50%;

}

a:link,a:visited,a:hover,a:active {text-decoration:none;color:black}
.noshadowdiy{

 background-color:white !important; 
 border:0px solid white;
 box-shadow: 0px 0px 0px white;
// width : 20px;
 //height : 20px;

}
.noshadowdiy img {
  width : 22px;
  height : 22px;
}
.tablesolidbottomline{

   border-bottom:1px solid rgb(25,155,171);

}
.tabledotrightline{
  
   border-right:1px dashed rgb(25,155,171);

}
.tableheaderlist{
	background-color:rgb(25,155,171)  ;
   
    color:white ;
	
}
.tableheaderlist > tr {
    height:3em !important;
}
 
.tableheaderlist > tr > th {
     font-size:1em!important;
	 font-weight:100!important;
}
 
.tableheaderlist1{
   // margin-top:0.5em;
    // margin-left:1em;
	// margin-right:100px !important;
	//background-color:rgb(25,155,171)  ;
	width: 100%  ;
   // table-layout:fixed ;
  //  color:white ;
	//position:fixed;
	border-collapse: collapse;
	
	
	
	 
}
.gaojingcolgroup{
    border-right:1px solid rgb(221,221,221);
}
.tableheaderlist1   th{
      border-top: 2px solid rgb(221,221,221);
     border-bottom: 2px solid rgb(221,221,221);
     color:rgb(25,155,171);
	 height:2em;
	 font-weight:normal;
}
.tableheaderlist1   td  {
  // border-top:1px solid rgb(221,221,221)!important;
   border-bottom:1px solid rgb(221,221,221);
   font-size:1em;
   font-weight:normal;
   border-bottom: 1px solid  rgb(221,221,221);
   height:2em;
   text-align:center;
   font-size:0.9em;
  

}
.begintablecontent{
	//margin-top:30px;
	 
	
}
.tableheaderlistcontent{
	 
	 width: 100% ;
    table-layout:fixed ;
    border: 1px solid rgb(25,155,171);
	background-color:rgb(227,242,245);
}
.tableheaderlistcontent > tr {
    cursor:pointer;
	height:3em;
	
}
.tableheaderlistcontent > tr >td {
  // border-right : 1px dashed rgb(25,155,171);
	border-bottom:1px solid rgb(25,155,171);
	text-align:center;


}
.tableheaderlistcontent  tr th{
	border-right : 1px dashed rgb(25,155,171) !important;
	 
	
}

.headerleftname{
	
	float:left;
	background-color:red;
	color:white;
	height:3em;
	width:80%;
	
}
.backgreen{
	background-color:green !important;
	
	
}
.backorange{
    background-color:orange !important;

}
.backrunning{
    background-color:rgb(72,144,55)!important;
}
.backstop{
   background-color:rgb(221,85,26)!important;

}
.backhandle{
   background-color:rgb(148,107,37)!important;

}
.backwait{
  background-color:rgb(113,111,111)!important;

}
.backbroken{
   background-color:rgb(231,24,26)!important;

}
.loglines{
   border-bottom : 1px solid rgb(25,155,171);
   text-align:center;
   height:50px;
   padding-top:5px;

}
.centerechartname{
	margin-top:5px;
	text-align:center;
	
}
.headernameword{
	margin-left:40px;
	margin-top:1em;
	float:left;
	font-size:1em;
	font-weight:normal;
	
}
.headercurrstate{
	float:right;
	margin-top:8px;
}
.headerrightpic{
	float:right;
	width:20%;
	height:3em;
	 
	
	
}
.headerrightpic img {
    
	float:left;
	background-color:white;
	height:3em;
	
	
}
.floatpicbuts{
	position: fixed; 
	right:5px; 
	bottom:50px;
	//background-color:red;
	
}
.floatpicbuts img{
	 float:right;
	 clear:both;
	 margin-top:10px;
	 margin-bottom:10px;
	 
	
}
.ui-block-a p {
	
	margin-left:50px !important;
}
.workshopinftext{

    text-align:center !important;
	color:black;

}
.logo {
    WIDTH:  150px;
    height: 150px;
    float :right ;

}
.logopic{

    float :left ;
   
    
}
.wordpic{
    float :left ;
    height :150px;
    
	 
	padding-top: 0px !important;
	padding-bottom : 0px !important;
}

.p1{
   color : red ;
   float :left ;
   font-size : 80px;
   margin-top : 1px;
   font-weight:bold;
   font-style:italic ;
}
.p2 {
   clear:left;
   float :left ;
   color : rgb(0,91,171) ;
   
   font-size : 20px;
   margin-bottom : 1px;
   font-weight:bold;
   font-style:italic ;
   

}
.p3 {
   color : black ;
   font-weight: bold;
   font-size : 25px;
   margin-top: 10px;

}
 
.space1{

   height : 20px;
   clear:left;
    

}
#completestate{
   color : red ;
  // background-color:red;


}
.tableheaderlistcontent tr th{
 
  height : 30px !important;
 // background-color:red !important;
  

}
.runingstate {
    width:18px;
	height:26px;


}
.tabindex {
   float:right;
   width:3em;
     
  position:fixed;
  background-color:white;
  
   display:none;
   right:0px;
   bottom:0px;
   z-index:100;
   font-size:9px;
  
  
   
 
 
   
}
.tabdev{
     border:1px solid rgb(25,155,171);
      text-align:center;
	  height:30%;
	  
	  color:rgb(25,155,171);
	 
	 
}
.tabtab{
   border-left:0px;


}
 

.norightline{
	border-right:0px;
	
	
}

.dropdownmenu{
   position:absolute;
   top:30px;
   right:2px; 
   display:none;
   width:100px;
   border:1px solid green;
   text-align:center;
   background-color:rgb(227,242,245);
 // background-color:white;
   z-index:999;
   padding-left:0px;

}
.dropdownmenu > li {
   list-style:none;
  
 }
.dropdownmenu > li > a {
  
  text-decoration:none !important;
 
  
  
}
.dropdownmenu > li > a:link    {color:blue;}
.dropdownmenu > li > a :visited {color:blue;}
.dropdownmenu > li > a:hover   {color:blue;}
.dropdownmenu > li > a:active  {color:blue;}
.showclassdiskplay{
    display:block;
}

.hititleh1{
   background-color:white;
   font-size:1.2em !important;
   font-weight:normal;

}

.hititleh2 {
   font-weight:normal;
   background-color:white!important;
   font-size:1.2em!important;
   width:100%!important;
   margin-left:0px!important;

}
.fanbanjishoubanji{
 
   
  color:rgb(16,162,159) !important; 
 
  background-color:white!important;
  border-top:none !important;
  font-size:1.0em!important;
  font-weight:normal;
  text-align:center!important;
  

}
.fanbanjishoubanji_nextli{
     height:1.5em;
	font-size:0.9em !important;
    padding-bottom:0.5em!important;
    padding-top:0.5em!important;
	 
}
.ui-li-icon{
   width:1em;
   height:1em;


}

.bodyrotation {
     transform:rotate(90deg);
	 -ms-transform:rotate(90deg);
	 -moz-transform:rotate(90deg);
	 -webkit-transform:rotate(90deg);


}
 
 
 
 